@import "../styles/variables.scss";

.pageContainer {
  width: 100%;
  height: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .pageBox {
    @include pageBoxSize;
    & .titleBox {
      height: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 5%;
      & .titleText {
        font-size: 2.5em;
      }
    }
  }
}
