@import "../../styles/variables.scss";

.mapBox {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(255, 141, 95);
  border-radius: 15px;
  margin-block: 5%;
  & .kakaoMap {
    width: 500px !important;
    height: 400px !important;
  }
}
