.welcomeTag {
  margin-top: 1em !important;
}

.navDropdown {
  display: flex !important;
  justify-content: center !important;
  color: red !important;
  font-weight: bolder !important;
}
.accountBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
