@import "../styles/variables.scss";

.pageContainer {
  height: 100vh;
  @include makeCenterElements;
  & .pageBox {
    @include pageBoxSize;
    & .titleBox {
      height: 15%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & .titleText {
        font-size: 2.5em;
      }
    }
    & .noticeBox {
      & .postBtnWrapper {
        display: flex;
        justify-content: flex-end;
      }
      & .pagenationWrapper {
        display: flex;
        justify-content: center;
        color: black !important;
      }
    }
  }
}
